{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "document": true
  },
  "settings": {

    "import/resolver": "webpack"
  
      // // "webpack": {
  
      // //   "config": "webpack.prod.js"
  
      // // },
      // "node": {

      //   "paths": ["src"]

      // }
  
    // }
  
  },
  
  "plugins": ["react"]
}
