	html, body {
	  height: 100%;
	}

	.root {
	  background-color: #040404;
	  font-family: Arial, Helvetica, sans-serif;
	  margin: 0;
	  padding: 0;
	}

	.header {
	  background-color: #040404;
	  height: 100%;
	  color: #fff;
	  overflow: hidden;
	}

	.top-line {
	  height: 70px;
	  position: absolute;
	  top: 0;
	  z-index: 10;
	  width: 100%;
	  background-color: #040404;
	  border-bottom: 1px solid rgba(252, 16, 18, .5);
	  display: flex;
	  align-items: center;
	}

	.top-line__decoration {
	  text-align: center;
	  flex: 1 0 0;
	}

	.top-line__decoration::before {
	  content: "";
	  width: 50px;
	  height: 1px;
	  display: inline-block;
	  background-color: #979797;
	  ;
	  position: relative;
	  top: -4px;
	}

	.logo {
	  flex: 0 0 200px;
	  display: flex;
	  align-items: center;
	  text-decoration: none;
	  justify-content: space-around;
	  cursor: pointer;
	}

	.logo__text {
	  font-size: 16px;
	  font-weight: 500;
	  letter-spacing: .3em;
	  text-transform: uppercase;
	  color: #fff;
	  cursor: pointer;
	  text-decoration: none;
	}

	.logo__text:hover {
	  border-bottom: 1px solid #FC1012;
	}

	.info {
	  display: flex;
	  align-items: center;
	}

  .info__text {
    text-transform: uppercase;
	  letter-spacing: .3em;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
  } 

	.info__decoration {
	  height: 30px;
    border-right: 3px solid rgba(252, 16, 18, .5);
	  display: inline-block;
	  margin: 0 40px;
	}

	.menu-button-container {
	  flex: 0 0 200px;
	  text-align: right;
	  display: flex;
	  justify-content: flex-end;
	}

	.button-burger {
	  width: 70px;
	  height: 70px;
	  text-align: center;
	  background-color: #040404;
	  transition: .25s ease-in-out;
    position: relative;
	}

	.button-burger:hover {
	  background-color: #FC1012;
	  cursor: pointer;
	}

	.button-burger__img {
	  background-image: url(../images/burger.svg);
	  background-position: center;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 100%;
	}

	.sidebar {
	  width: 70px;
	  height: 100%;
	  background-color: #1B1B1B;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  z-index: 5;
	  position: absolute;
	  top: 0;
	}

	.sidebar__top {
	  flex: 1 0 0;
	  width: 100%;
	  height: 100%;
	}

	.sidebar__decoration {
	  background-image: url(../images/decor.svg);
	  background-position: center;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 100%;
	}

	.sidebar__center {
	  flex: 1 0 0;
	}

	.sidebar__bottom {
	  flex: 0 0 70px;
	  width: 100%;
	  height: 70px;
    background-color: #FC1012;
    transition: .5s ease-in-out;
	  cursor: pointer;
    position: relative;

	}

	.botton-share {
	  background-image: url(../images/Vector.svg);
	  background-position: center;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 100%;
	  transition: .5s ease-in-out;
	  cursor: pointer;
    position: relative;
    z-index: 1;
	}

  .sidebar__bottom::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color:  #1B1B1B;
    top: 0;
    left: 0;
    transition: width .5s ease-out;
    box-sizing: border-box;
   }
 
 	.sidebar__bottom:hover:before {
     width: 100%;
     border-right: 3px solid #FC1012;
   }

	.sidebar__social {
	  flex-direction: column;
	}

	.social {
	  display: flex;
	  align-items: center;
	}

	.social__img {
	  width: 22px;
	  height: 22px;
	  opacity: .5;
	  cursor: pointer;
	}

	.social__item:hover .social__img {
	  opacity: 1;
	}

	.social__item {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  transition: .25s ease-in-out;
	  cursor: pointer;
	}

	.social__item_size_s {
	  border: 1px solid #979797;
	  box-sizing: border-box;
	  width: 100%;
	  height: 50px;
	  margin: -1px 12px 0;
	}

	.social__item_size_m {
	  border-right: 1px solid #979797;
	  box-sizing: border-box;
	  width: 70px;
	  height: 70px;
	}

	.social__item_size_m:last-child {
	  border-right: 3px solid #FC1012;
	}

	.social__item:hover {
	  background-color: #FC1012;
	  cursor: pointer;
	}

	.social__item:hover .social__img {
	  opacity: 1;
	}

	.slider {
	  position: relative;
	  overflow: hidden;
	  width: 100%;
	  height: 100%;
	  top: 70px;
	  left: 70px;
	}

	.slider__social {
	  flex-direction: row;
	}

  .slider-img,
  .slider-conteiner {
    width: calc(75% - 70px);
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .slider-img__slide {
    height: 100%;
    overflow: hidden;
  }

  .slider-img__bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .slider-img__bg_1 {
    background-image: url(../images/Сатур.jpg);
  }

  .slider-img__bg_2 {
    background-image: url(../images/Марс.jpg);
  }

  .slider-img__bg_3 {
    background-image: url(../images/Солнце.jpg);
  }

  .slider-text {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: calc(100% - 70px);
  }

  .slider-text__slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .slider-text__content {
    text-align: right;
    padding-right: 22%;
    position: relative;
  }

  .slider-text__decoraation {
    height: 140px;
    position: absolute;
    top: 0;
    right: 280px;
    z-index: -1;
    border-right: 10px solid #FC1012;
  }

  .slider-text__title {
    text-transform: uppercase;
    max-width: 760px;
    line-height: 1.2;
    font-size: 60px;
    float: right;
    margin: 0 0 20px 0;
    color: rgba(244, 244, 244, .8);
  }

  .slider-text__title_color_red {
    color:  #FC1012;
    padding-right: 12px;
  }

  .slider-text__text {
    float: right;
    font-size: 14px;
    max-width: 500px;
    line-height: 1.7;
    margin: 0;
  }

  .slider-text__button {
    float: right;
    clear: both;
    margin-top: 30px;
  }

  .button {
    display: inline-block;
    background-color: #FC1012;
    color: #fff;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    position: relative;
    padding: 16px 28px;
  }

  .button::before {
   content: '';
   width: 0%;
   height: 100%;
   position: absolute;
   background-color:  #1B1B1B;
   top: 0;
   left: 0;
   transition: width .5s ease-out;
  }

  .button:hover:before {
    width: 100%;
    border-right: 3px solid #FC1012;
  }

  .button__text {
    position: relative;
    z-index: 2;
  }

	.slider__footer {
	  position: absolute;
	  bottom: 70px;
	  left: 0;
    width: calc(75% - 70px);
	  height: 70px;
	  display: flex;
	  align-items: center;
    z-index: 5;
	}

	.slider__share {
	  flex: 0 1 auto;
    background-color: #1B1B1B;
	}

  .hidden {
    display: none;
  }

	.slider__pagination {
	  flex: 0 0 140px;
    display: flex;
    align-items: center;
    height: 70px;
	}

  .swiper-pagination{
    position: sticky;
    display: flex;
    gap: 0 6px;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
    width: 8px;
    height: 8px;
  }

  .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background-color: #FC1012;
    position: relative;
  }

  .swiper-pagination-bullet-active::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #FC1012;
    border-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
  }

	.slider__scrollbar {
	  flex: 1 0 0;
	}

	.slider__navigation {
	  flex: 0 0 140px;
	}

  .swiper {
    width: 100%;
    height: 100%;
  }





  